In [17]:
import sqlite3
import pandas as pd

# Create SQLite connection
conn = sqlite3.connect("test.db")

# Sample data
data = {
    "x": ["a", "b", "c"],
    "y": [1, 2, 3]
}

# Convert dictionary to DataFrame
df = pd.DataFrame(data)

# Write DataFrame to SQLite (without adding an extra index column)
df.to_sql("table1", conn, if_exists="replace", index=False)

# Read from SQLite into a DataFrame
result_df = pd.read_sql("""
SELECT
table1.*
, table2.y
, table3.y
, coalesce(table2.y, table3.y)
FROM table1
LEFT JOIN table1 as table2
    on table1.x = table2.x
LEFT JOIN table1 as table3
    on table1.x = table3.x
;
""", conn)

# Print the DataFrame
print(result_df)

# Close connection
conn.close()

   x  y  y  y  coalesce(table2.y, table3.y)
0  a  1  1  1                             1
1  b  2  2  2                             2
2  c  3  3  3                             3