In [29]:
import pandas as pd
import re

df = pd.read_csv("freq_df.csv")

In [33]:
m = re.match(r"[0-9]+", "127873271")
if m:
    print("Yes")
else:
    print("No")

Yes

In [16]:
import sqlite3

conn = sqlite3.connect("wordle.db")
df.to_sql("freq",conn,if_exists="replace")

14855

In [34]:
query = """
select
substr(word,1,1) first_letter
, avg(match_rate) avg_match_rate
, max(match_rate) max_match_rate
from freq
group by 1
order by 2 desc
;
"""

pd.read_sql_query(query,conn)

   first_letter  avg_match_rate  max_match_rate
0             s        1.310616        1.894776
1             r        1.306601        1.867510
2             o        1.270951        1.754073
3             a        1.269802        1.894776
4             l        1.262636        1.821732
5             t        1.234742        1.824963
6             e        1.225747        1.821732
7             n        1.208661        1.816009
8             i        1.200319        1.788744
9             u        1.194162        1.778040
10            d        1.193817        1.759661
11            p        1.183196        1.748620
12            m        1.181214        1.740205
13            y        1.164714        1.745523
14            h        1.162845        1.717517
15            c        1.159994        1.730847
16            g        1.151934        1.705197
17            v        1.144082        1.639558
18            b        1.142207        1.703380
19            k        1.131539        1.700552
20            f        1.128198        1.661909
21            w        1.115139        1.662582
22            j        1.039943        1.540595
23            z        1.038760        1.626700
24            q        1.034116        1.384341
25            x        0.967798        1.379224